@model ActiveSense.Tempsense.model.Modelo.Dispositivos


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>
            <font color="#999">
                EDITAR DISPOSITIVOS
            </font>
        </h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DispositivoID)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        
        

        <div class="form-group">
            @Html.LabelFor(model => model.Medida, "Medida", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-4">
                @Html.DropDownList("Medida", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Medida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpresaID, "Empresa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-4">
                @Html.DropDownList("EmpresaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmpresaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-1">
                @Html.EditorFor(model => model.Activo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-4">
                <input type="submit" value="Guardar" class="btn btn-primary active" />
                @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

