@model IEnumerable<ActiveSense.Tempsense.model.Modelo.Dispositivos>

<h2>
    <font color="#999">
        DISPOSITIVOS
    </font>
</h2>
<hr />
<p>
    @Html.ActionLink("Crear", "Create", new { }, new { @class = "btn btn-primary"})
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered" style="padding-bottom: 60px;">
        <thead>
            <tr class="active">
                <th>
                    Empresa
                    @*@Html.DisplayNameFor(model => model.Empresa.Nombre)*@
                </th>
                <th>
                    Dispositivo
                    @*@Html.DisplayNameFor(model => model.Nombre)*@
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.ClaveDispositivo)
                </th>*@
                Dispositivo activo
                @*<th>
                    @Html.DisplayNameFor(model => model.Activo)
                </th>*@
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ClaveDispositivo)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Activo)
                    </td>*@
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.DispositivoID }, new { @class = "btn btn-primary btn-xs" })

                        @Html.ActionLink("Eliminar", "Delete", new { id = item.DispositivoID }, new { @class = "btn btn-primary btn-xs" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>