@model ActiveSense.Tempsense.model.Modelo.Umbral

@{
    ViewBag.Title = "Details";
}
<div>
    <h2>Detalles</h2>
    <h4>Umbral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Temperatura_min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperatura_min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temperatura_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperatura_max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DispositivoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DispositivoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UmbralID }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
