@model ActiveSense.Tempsense.model.Modelo.AspNetUsers

@{
    ViewBag.Title = "Borrar";
}

<h2>
    <font color="#999">
        ELIMINAR USUARIO
    </font>
</h2>

<h4>¿Esta seguro que desea eliminar el usuario?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div  class="col-md-offset-2 col-md-10">
                <input type="submit" value="Eliminar" class="btn btn-primary active" />
                @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>