@model IEnumerable<ActiveSense.Tempsense.model.Modelo.AspNetUsers>

@{
    ViewBag.Title = "Usuario";
}

<h2>
    <font color="#999">
        USUARIOS
    </font>
</h2>
<hr />
<p>
    @Html.ActionLink("Crear", "Register", "Users", new { area = "Administrador" }, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered" style="padding-bottom: 60px;">
        <thead>
            <tr class="active">
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })

                        @Html.ActionLink("Borrar", "Delete", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>