@model IEnumerable<ActiveSense.Tempsense.model.Modelo.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2>
    <font color="#999">
        EMPRESAS
    </font>
</h2>
<hr />
<p>
    @Html.ActionLink("Crear ", "Create", new { }, new { @class = "btn btn-primary " })
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered" style="padding-bottom: 60px;">
        <thead>
            <tr class="active">
                <th>
                    Empresa
                    @*@Html.DisplayNameFor(model => model.Nombre)*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AbrEmpresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activo)
                </th>
                <th>
                    Notificaciòn por correo
                </th>
                <th>
                    Notificaciòn por SMS
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AbrEmpresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notificar_Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notificar_SMS)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.EmpresaID }, new { @class = "btn btn-primary btn-xs " })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.EmpresaID }, new { @class = "btn btn-primary btn-xs " })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<script>
        $(document).ready(function () {
            function renderizarTabla() {

                var objTablaMedidasVisual = $('#tablempresas');
                objTablaMedidasVisual.show();

                //var objContenedorTablaPaginada = $('#tablaPaginada');
                alert("entró");
                objTablaPaginada = objTablaMedidasVisual.DataTable({
                    "processing": true,
                    "serverSide": true,
                    "searching": false,
                    "destroy": true,
                    "lengthMenu": [10, 15, 20],
                    language: {
                        processing: "Procesando...",
                        search: "Buscar:",
                        lengthMenu: "Mostrar _MENU_ registros",
                        info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                        infoFiltered: "(filtrado de un total de _MAX_ registros)",
                        infoPostFix: "",
                        loadingRecords: "Cargando...",
                        zeroRecords: "No se encontraron resultados",
                        emptyTable: "Ningún dato disponible en esta tabla",
                        paginate: {
                            first: "Primero",
                            previous: "Ant",
                            next: "Sig",
                            last: "Último",
                        },
                        aria: {
                            sortAscending: ": Activar para ordenar la columna de manera ascendente",
                            sortDescending: ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    "columnDefs": [{
                        "orderable": false,
                        "searchable": false,
                        "targets": [0]
                    }, {
                        "orderable": false,
                        "targets": [2, 3, 11, 12]
                    }
                    ]
                });



            }
            //$('#tablempresas').DataTable();
            renderizarTabla();
            function listar(){


                var sample_6 = $("#tablempresas").dataTable();
                sample_6.fnClearTable();
                sample_6.fnDestroy();
                var tabla = "";
                var cont = 0;

                @foreach (var item in Model)
                {

                    <text>

                  tabla += "<tr id='row" + cont + "'>";

                    tabla += "<td><a href='" + (modelItem => item.Nombre) + "'></a></td>";
                    tabla += " <td>" +" @Html.DisplayFor(modelItem => item.Codigo)" + "</td>";
                    tabla += " <td>"+ "@Html.DisplayFor(modelItem => item.Correo)"  +"</td>";
                    tabla += " <td>"+ "@Html.DisplayFor(modelItem => item.Activo)" +"</td>";
                    tabla += "<td>"+ "@Html.DisplayFor(modelItem => item.Notificar_Correo)" +"</td>";
                    tabla += "<td>"+" @Html.DisplayFor(modelItem => item.Notificar_SMS) " +"</td>";
                    tabla += "<td>"+ @Html.ActionLink("Editar", "Edit", new { id = item.EmpresaID }, new { @class = "btn btn-primary"})+ @Html.ActionLink("Eliminar", "Delete", new { id = item.EmpresaID }, new { @class = "btn btn-primary" })+"</td>";
               tabla += "</tr>";
                    cont++;
                    </text>
                }
                $('#tableee').empty();
                $('#tableee').append(tabla);
            }

        });
    </script>*@